<h1>The best restaurants!</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><a href="/restaurants/<%= restaurant.id  %>"><%= restaurant.name %></a></li>
  <% end %>
</ul>
<a href="/restaurants/new">Create new restaurant</a>
